*{
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container{
    width: 400px;
    height: 250px;
    background-color: rgb(248, 248, 222);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    border-radius: 18px;
    justify-content: center; 
    align-items: center; 
    box-shadow: 2px 2px lightskyblue;
}
.display{
    margin-top: 65px;
    text-align: center;
    left: 50%;
    top: 50%;
    font-size: 42px;
    
}

.divide{
    font-size: 28px;
}

.digit{
    padding: 2px;
    font-family: monospace;
}

.setting{
    text-align: center;
    
}

.button{
    padding-inline: 15px; 
    text-align: center;
    border-radius: 14px;
    border-width: 1px;
    background-color: aliceblue;
    cursor:pointer;
    margin-top: 10px;
    font-size: 20px;
    box-shadow: 1px 1px black;
}




